.header {
    text-align: center;

    background-color:  var(--second-bg-color);
    &__img {
        padding:  1rem 0;
    }
   
    @include header-shadow;
}
.location {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: var(--third-bg-color);
    &__i {
        padding: 0 1rem ;
    }
}
