
  
  .resto {
   
    section {
        max-width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 42px 42px 0 0;
        margin-top: -4rem;
        position: relative;
        padding: 2.2rem 1rem;
    }

           &-title {
            display: grid;
            grid-template-columns: 5fr 1fr;
            @media (min-width: 768px) {
                     max-width: 270px;
                     margin-right: auto;
                        margin-left: auto;
            }
            h1 {
                font-family: 'Shrikhand', serif;
                font-weight: 500;
            }

    }
    h2 {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: solid 2px  var(--secondary-color);
    width: 40px;
    padding-bottom: 5px;

    }
article {
    margin-top: 2rem;
    max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}
}
    .card-content  {
      
        background-color: var( --second-bg-color);
        border-radius: 15px;
        padding: 10px;
        margin: 10px 0;
        overflow: hidden;
        @include btn-shadow;

      .card-txt {
        display: grid;
        grid-template-columns: 8fr 1fr;
      }
      p {
        font-size: 15px;
      }
   
        .card-title{
        grid-column: 1;
        grid-row: 1;
    }

        .card-subtitle{
         grid-column: 1;
          grid-row: 2;
    }

        .price{
        grid-column: 2;
        grid-row: 2;
        font-size: 15px;
        color: var( --black-bg-color);
    }

        .check{
        grid-column: 3;
        grid-row: span 2;
        align-self: center;
        justify-self: center;
        display: none;
    }

}
.commander {
text-align: center;
}



