@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

:root {
  --main-bg-color: #F6F6F6;
  --second-bg-color: white;
  --third-bg-color: rgb(0, 0, 0, 0.1);
  --grey-bg-color:#7E7E7E;
  --black-bg-color:#353535;
  --primary-color:#9356DC;
  --secondary-color: #99E2D0;
  --secondary-color-darker: #008766;
  --primary-gradient: linear-gradient(7deg, var(--primary-color) 0%, rgba(255,121,218,1) 100%);
}

body {
  font-family: "Roboto", sans-serif;
  /*  font-family: 'Shrikhand', serif; */
}

h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 1rem;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 700;
  line-height: 1.5;
}

p {
  font-weight: 300;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

.btn {
  background-color: var(--main-bg-color);
  padding: 15px 35px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  box-shadow: 0 0.55rem 0.55rem rgba(0, 0, 0, 0.5);
}
.btn--gradient {
  background: var(--primary-gradient);
  color: var(--second-bg-color);
  cursor: pointer;
  border-radius: 25px;
  transition: all 400ms;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
.btn--gradient:hover {
  box-shadow: 0 0.55rem 0.55rem rgba(0, 0, 0, 0.75);
}
.btn--gradient:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

a.icon-fav span {
  height: 33px;
  justify-self: right;
  transition: all 400ms;
  position: absolute;
}
a.icon-fav .off {
  content: url("../img/heart-regular.svg");
  opacity: 100%;
}
a.icon-fav .on {
  content: url("../img/heart-solid.svg");
  opacity: 0;
}
a.icon-fav:hover .on {
  opacity: 100%;
}
a.icon-fav:hover .off {
  opacity: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.75);
  z-index: 999;
  top: 0;
  overflow: hidden;
  display: block;
  animation: disapear 250ms linear 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  /*animation d'entrée */
}
.overlay .loader {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: rotate 1s linear infinite;
}
.overlay .loader::before, .overlay .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
}
.overlay .loader::after {
  border-color: var(--primary-color);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@keyframes disapear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    scale: 1;
  }
  100% {
    scale: 0;
  }
}

.header {
  text-align: center;
  background-color: var(--second-bg-color);
  /* Bouton retour du header */
  box-shadow: 0 0.55rem 0.55rem rgba(0, 0, 0, 0.5);
}
.header__img {
  padding: 1rem 0;
}
.header .btn-return {
  position: absolute;
  margin: 1.5rem;
  font-size: 21px;
  color: var(--black-bg-color);
}

.location {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--third-bg-color);
}
.location__i {
  padding: 0 1rem;
}

.section {
  padding: 3rem;
}
.section--txt-center {
  text-align: center;
}
.section--bg-gris {
  background-color: var(--main-bg-color);
}
@media (min-width: 768px) {
  .section {
    padding: 3rem;
  }
}
@media (min-width: 999px) {
  .section {
    padding: 3rem 2rem;
  }
}
@media (min-width: 1280px) {
  .section {
    padding: 3rem 11rem;
  }
}

.fonctionnement {
  display: grid;
}
@media (min-width: 768px) {
  .fonctionnement {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 999px) {
  .fonctionnement {
    grid-template-columns: repeat(3, 1fr);
  }
}
.fonctionnement__btn {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-self: center;
}
.fonctionnement__btn__item {
  margin: 0 9px;
}
.fonctionnement__btn span {
  border-radius: 20px;
  background-color: var(--primary-color);
  padding: 3px 9px;
  color: var(--second-bg-color);
  margin-left: -50px;
}
.fonctionnement__btn i {
  color: var(--grey-bg-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 6rem;
  }
}

.card-tag {
  background-color: var(--secondary-color);
  color: var(--secondary-color-darker);
  padding: 5px 12px;
  position: relative;
  float: right;
  top: 51px;
  margin-top: -29px;
  right: 21px;
  box-shadow: 0 0.55rem 0.55rem rgba(0, 0, 0, 0.5);
}

.card {
  justify-self: center;
  width: 100%;
  max-width: 360px;
  background-color: var(--second-bg-color);
  border-radius: 12px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
@media (min-width: 999px) {
  .card {
    max-width: 570px;
  }
}
.card .card-img {
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  height: 180px;
  width: 100%;
}
.card .card-content {
  display: flex;
  padding: 1rem;
}
.card .card-content .card-txt {
  flex: 9;
}
.card .card-content .icon-fav {
  flex: 1;
}

.resto .image-header img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: -2;
}
.resto section {
  display: block;
  margin: -4rem auto 0;
  padding: 2.2rem 1rem;
  border-radius: 42px 42px 0 0;
  position: relative;
}
@media (min-width: 768px) {
  .resto section {
    max-width: 460px;
    margin: -4rem auto 0;
  }
}
@media (min-width: 999px) {
  .resto section {
    max-width: 1200px;
  }
}
.resto-title {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
@media (min-width: 768px) {
  .resto-title {
    max-width: 460px;
    margin-right: auto;
    margin-left: auto;
  }
}
.resto-title h1 {
  font-family: "Shrikhand", serif;
  font-weight: 500;
}
.resto h2 {
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: solid 2px var(--secondary-color);
  width: 40px;
  padding-bottom: 5px;
}
.resto article {
  margin-top: 2rem;
  max-width: 590px;
  margin: 2rem auto 0;
  animation: appear 2s linear 1;
  animation-fill-mode: forwards;
}
.resto article.plat {
  animation-delay: 1s;
  opacity: 0;
}
.resto article.dessert {
  animation-delay: 2s;
  opacity: 0;
}
.resto .card-content a {
  background-color: var(--second-bg-color);
  border-radius: 15px;
  margin: 10px 0;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
.resto .card-content a:hover > .check {
  margin-right: 0;
}
.resto .card-txt {
  flex: 68;
  padding: 10px;
  min-width: 0;
}
.resto .card-txt > * {
  flex-basis: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.resto p {
  font-size: 15px;
}
.resto .price {
  flex: 2 1 auto;
  font-size: 15px;
  color: var(--black-bg-color);
  align-self: end;
  margin-right: 1rem;
}
.resto .check {
  transition: all 400ms;
  flex: 0 1 auto;
  align-self: center;
  justify-self: center;
  padding: 22px;
  background-color: var(--secondary-color);
  margin-right: -72px;
}
.resto .check i {
  color: var(--secondary-color);
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  padding: 4px;
}
.resto .commander {
  text-align: center;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background-color: var(--black-bg-color);
  color: var(--second-bg-color);
  padding: 3rem;
}
footer a {
  color: white;
}
@media (min-width: 996px) {
  footer a {
    order: 1;
    grid-column-end: -1;
  }
}
footer div {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1.5;
}
@media (min-width: 996px) {
  footer div {
    grid-template-columns: 10fr 1fr 130px;
  }
}
footer div img {
  max-width: 130px;
}
@media (min-width: 996px) {
  footer div img {
    float: right;
  }
}
@media (min-width: 996px) {
  footer div ul {
    display: inline-flex;
    justify-self: right;
  }
}
@media (min-width: 996px) {
  footer div li {
    margin: 0 1rem;
  }
}
footer div i {
  margin-right: 1rem;
}

/*# sourceMappingURL=styles.css.map */
